@use "../../scss/variables.scss" as *;

.price {
  font-size: $font-size-large;
  font-weight: $font-weight-semi-bold;
  line-height: 24px;
}

.priceLight {
  font-size: $font-size-medium;
  font-weight: $font-weight-normal;
  line-height: 24px;
}
