@use "../../scss/variables.scss" as *;
@use "../../scss/screenBreakpoints.scss" as *;

.cartContainer {
  max-height: calc(100vh - 64px);
  height: 100%;
  padding: 12px 50px;
  display: flex;
  flex-direction: column;
  &Empty {
    display: flex;
    flex-direction: column;
    gap: 24px;
    > button {
      width: fit-content;
    }
  }

  @include tablet {
    padding: 6px 12px;
  }
}

.cartContent {
  display: flex;
  flex-direction: row;
  gap: 36px;
  justify-content: center;
  flex: 1;
  overflow: hidden;

  @include tablet {
    flex-direction: column;
  }

  &Left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    gap: 55px;
    max-width: 1000px;
    overflow: hidden;
    > ul {
      list-style-type: none;
      padding: 0;
      flex-grow: 1;
      margin: 0;
      overflow-y: auto;
      min-height: 0;
    }
  }
}

.cartTitle {
  font-size: $font-size-xxl;
}

.cartSummary {
  max-height: 200px;

  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include tablet {
    width: 50%;
    align-self: end;
    margin-bottom: 32px;
    padding: 0 20px 20px;

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 12px;
    }
  }
}

.cartActionsWrapper {
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@include mobile {
  .cartContainer {
    height: calc(100vh - 64px);
  }

  .cartContent {
    flex-direction: column;
    gap: 0;
  }

  .cartTitle {
    margin: 8px 0;
  }

  .cartContentLeft {
    gap: 10px;
    justify-content: unset;

    > ul {
      flex-grow: 0;
    }
  }

  .cartSummary {
    width: 100%;
    margin-bottom: 16px;
    padding: 10px 20px;

    h2 {
      margin: 0 0 6px;
    }

    > div {
      margin-bottom: 16px;
    }
  }
}
