@use "../../scss/variables.scss" as *;
@use "../../scss/screenBreakpoints.scss" as *;

.cartListItem {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  max-height: 100px;
  margin-bottom: 15px;
  gap: 16px;

  padding: 16px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    cursor: pointer;
    border-color: transparent;
    box-shadow:
      0 1px 2px -2px rgba(0, 0, 0, 0.16),
      0 3px 6px 0 rgba(0, 0, 0, 0.12),
      0 5px 12px 4px rgba(0, 0, 0, 0.09);
    transition:
      box-shadow 0.2s,
      border-color 0.2s;
  }

  &Details {
    p,
    h4 {
      margin: 0;
    }
    &ReturnPolicy {
      font-size: $font-size-small;
      opacity: 0.6;
    }
  }
}

.thumbnailButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 16px;
  width: 100px;
  height: 100px;
}

.cartListItemDetails {
  flex-grow: 1;
}

.cartListItemPrice,
.cartListItemTotal {
  width: 100px;
  font-size: $font-size-large;
  line-height: 24px;
}

.quantityInput {
  width: 65px;
}

.cartListItemPriceContainer,
.cartListItemQuantityContainer,
.cartListItemTotalContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 65px;
}

.label {
  font-size: $font-size-xs;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 2px;
}

.cartDeleteButton {
  padding: 0;
  border: none;
  background: transparent;
  height: fit-content;
  > span > svg {
    width: 20px;
    height: 20px;
  }
}

@include mobile {
  .cartListItem {
    [class~="ant-btn"] {
      padding: 0;
    }
    align-items: unset;
    max-height: 380px;
    gap: 0;
    padding: 8px;
    flex-direction: column;
  }

  .cartListItemDetailsMobileContainer {
    display: flex;
  }

  .cartListItemDetails {
    h4 {
      margin: 10px 0 0;
    }
    p {
      margin: 0 0 8px 0;
    }
  }

  .cartListItemMobilePriceContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
