.modalBody {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  height: 70%;
  flex: 1;

  .detailsContainer,
  .imageContainer {
    width: 50%;
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .detailsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    &Description {
      font-size: 1.2rem;
    }
    &Price {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}

.modal {
  height: 80%;
  width: 80%;
  > div {
    height: 100%;
  }
}

.modalContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
