@use "../../scss/variables.scss" as *;

.modal {
  height: 80%;
  width: 80%;
  > div {
    height: 100%;
  }
}

.modalTitle {
  font-size: $font-size-xl;
}

.modalContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modalBody {
  display: flex;
  flex-flow: row nowrap;
  height: 70%;
  flex: 1;
  margin-top: 60px;
  margin-right: 20px;

  .detailsContainer,
  .imageContainer {
    width: 50%;
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .detailsContainer {
    &Description {
      font-size: $font-size-medium;
      margin-bottom: 10px;
    }

    &Rating {
      display: flex;
      flex-flow: row nowrap;
      gap: 8px;
    }

    &Warranty {
      font-size: $font-size-small;
      opacity: 0.6;
    }
    > h4 {
      margin: 10px 0px;
      font-style: italic;
    }
  }
}
