@use "../../scss/variables.scss" as *;

.productCard {
  // Tablet (minimum 768px)
  @media (min-width: 768px) {
    max-width: 220px;
  }

  // Small desktop (minimum 1024px)
  @media (min-width: 1024px) {
    max-width: 240px;
  }

  // Large desktop (minimum 1440px)
  @media (min-width: 1440px) {
    max-width: 260px;
  }
}

.productCard {
  [class~="ant-card-cover"] {
    text-align: center;
    margin: 12px;
  }

  [class~="ant-card-actions"] > li {
    align-content: center;
    margin: 0;

    [class~="ant-btn"] {
      height: 100%;
      width: 100%;
      padding: 8px 15px;
    }

    span {
      height: 100%;
      align-content: center;
      > [class~="anticon"] {
        font-size: $font-size-large;
      }
    }
  }

  display: flex;
  flex-direction: column;
  &Body {
    flex: 1;
  }
}

.cardTitle {
  min-height: 2.7em;
  line-height: 1.3;
  white-space: normal;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.skeletonImage {
  width: 100% !important;
  height: 240px !important;
}

.cardDescription {
  display: flex;
  flex-direction: column;
  gap: 10px;

  span {
    min-height: 6.3em;
  }
}

.productPrice {
  font-weight: $font-weight-bold;
}

.productCardCover {
  height: 240px;
  justify-items: center;
  > img {
    height: inherit;
  }
}
