.filterMenu {
  min-width: 200px;
}

[class~="ant-dropdown-menu-sub"] {
  max-height: 300px;
  overflow-y: auto;
}

.priceMenuItem {
  padding: 0 !important;
}

.priceInputsContainer {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.priceInputs {
  display: flex;
  align-items: center;
  gap: 8px;
}

.applyButton {
  width: 100%;
}
