.buttonContainer {
  &:hover {
    .button,
    .buttonText {
      color: red !important;
    }
  }
  .button {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0;
    color: white;
    padding: 0;
    transition: color 0.2s;

    svg {
      font-size: 20px;
    }
  }

  .buttonText {
    font-size: 12px;
    color: white;
    transition: color 0.2s;
  }
}
