@use "../../scss/variables.scss" as *;

.buttonContainer {
  &:hover {
    .button,
    .buttonText {
      color: #69b1ff;
    }
  }
  .button {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0;
    color: white;
    padding: 0;
    transition: color 0.2s;

    svg {
      font-size: 20px;
    }
  }

  .buttonText {
    font-size: $font-size-small;
    color: white;
    transition: color 0.2s;
  }
}
