@use "../../scss/variables.scss" as *;

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
}

.logoButton {
  font-size: $font-size-xl;
  color: white;
}

.headerSearch,
.headerLogo,
.headerMenu {
  flex: 0 0 33.33%;
  line-height: normal;
}

.headerMenu {
  justify-content: flex-end;
  padding-right: 15px;

  [class~="ant-badge-count"] {
    background: #1677ff;
  }
}
