@use "../../scss/variables.scss" as *;
@use "../../scss/screenBreakpoints.scss" as *;

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
}

.logoButton {
  font-size: $font-size-xl;
  color: white;
}

.headerSearch,
.headerLogo,
.headerMenu {
  flex: 0 0 33.33%;
  line-height: normal;
}

.headerMenu {
  justify-content: flex-end;
  padding-right: 15px;

  [class~="ant-badge-count"] {
    background: #1677ff;
  }
}

.headerLogo {
  .logoText {
    color: white;
  }
}

.headerSearch {
  > span {
    max-width: 500px;
  }
}

@include tablet {
  .header {
    padding: 6px 12px;

    &Search {
      justify-items: center;

      > span {
        max-width: 200px;
      }
    }

    .logoText {
      font-size: 20px;
    }
  }
}

@include mobile {
  .header {
    padding: 6px 12px;

    .logoText {
      display: none;
    }
  }
}
