// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

.layout {
  height: 100vh;
}

.content {
  height: 100%;
  padding: 12px 50px;
  overflow-y: auto;
}
